.expenseItems{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    margin: 1rem 0.5rem;
    background-color: rgb(27, 157, 157);
}

.expenseItems__description{
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: flex-end;
    flex-flow: column-reverse;
   justify-content: flex-start;
   flex: 1;
}

.expenseItems h2{
    color: white;
    font-size: 1rem;
    flex: 1;
    margin: 0 ;
}

.expenseItem__price{
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: rgb(15, 137, 137);
    border: 1px solid white;
    padding: 0.5rem;
    border-radius: 12px;
}

@media (min-width: 580px){
    .expenseItems__description{
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        flex: 1;
    }
    .expenseItems__description h2{
        font-size: 1.5rem;
        margin: 1rem 1.5rem ;
    }
    .expenseItem__price {
        font-size: 1.25rem;
        padding: .5rem 1.5rem;

    }
}