.expense_date{
    background-color: #B85042;
    display: flex;
    flex-direction: column;
    width: 5.5rem;
    height: 5.5rem;
    border: 1px solid white;
    color: white;
    align-items: center;
    justify-content: center;
}
.expense_date__month{
    font-size: .75rem;
    font-weight: bold;
}

.expense_date__year{
    font-size: .75rem;

}
.expense_date__day{
    font-size: 1.5rem;
    font-weight: bold;
}